.App {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: blueviolet;
}

.main{
  display: flex;
  align-items: center;
 margin-top: 20px;
 justify-content: center;
 flex-direction: column;
  height: 500px;
  width: 400px;
  background: blueviolet;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  box-shadow: 5px,10px gray;
}
label{
  padding: 10px;
}
input{
  border-radius: 15px;
}
.btn{
  margin-left: 160px;
}